/*
THIS IS FOR SASS STYLESHEETS
FOR LOCAL DEVELOPMENT I'M SIMPLY USING VANILLA CSS

$border: none
$main_color: #33a6ff
$main_font_color: #000000
$second_font_color: #ffffff

body
  border: $border
  background: $main_color
  color: $main_font_color
h1
  border: $border
  color: $second_font_color
  
.add_recipe
  border: $border
  margin-top: 25px
  
.hidden
  display: none
  
.input_item
  margin-top: 3px
  
.btn 
  margin: 10px 5px 5px 5px
  
.recipes
  border: $border
  margin-top: 25px
 
.recipe_item
  border: $border
  margin: 10px
  
.plain_ingredient
  border-left: solid
  border-width: 5px
  border-color: #dddddd
  margin: 0px
  padding: 5px

    */


body {

    background: #33a6ff;
    color: #000000;
}

h1 {
    margin-top: 25px;
    color: #ffffff;
}

.add_recipe {
    margin-top: 25px;
}

.hidden {
    display: none;
}

.input_item {
    margin-top: 3px;
}

.btn {
    margin: 10px 5px 5px 5px;
}

.recipes {
    margin-top: 25px;
}

.recipe_item {

    margin: 10px;
}

.plain_ingredient {
    border-left: solid;
    border-width: 5px;
    border-color: #dddddd;
    margin: 0px;
    padding: 5px;
}


